<!-- Formating from Bootsnip-->
<%= notice %>
	<div class="bg-contact2" style="background-color: #ff0000;">
		<div class="container-contact2">
			<div class="wrap-contact2">
				<div class="contact2-form validate-form">
					<div class= "contact2-form-title" style = "font-family:'Montserrat', sans-serif">
					<label for "contact" id="title_contact">
						Contact Us
					</label></br>
					<%= form_for @message, url: create_message_url do |f| %>
  							
 							 <%= @message.errors.full_messages.join(', ') %>

					</br><div class="wrap-input2 validate-input" data-validate="Name is required" style= "font-size:.5em; text-align:left">
						<label > NAME </label>
						 <%= f.text_field :name %>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz" style= "font-size:.5em; text-align:left">
						<label > EMAIL </label>
						  <%= f.email_field :email %>
					</div>
					<div class="wrap-input2 validate-input" data-validate = "Valid email is required: ex@abc.xyz" style= "font-size:.5em; text-align:left">
						<label > PHONE NUMBER </label>
						  <%= f.phone_field :phone %>
					</div>

					<div class="wrap-input2 validate-input" data-validate = "Message is required" style= "font-size:.5em; text-align:left"></br>
							<label > MESSAGE </label>						 
						<%= f.text_area :body %>
					
		
					</div>

					<div class="container-contact2-form-btn">
						
								 <%= f.submit "SEND", :id => 'submit_button'%>
						
								<% end %>
					</div>
			</div>
		</div>
	</div>
</div>
</div>
